* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;  
}

body {
    font-family: 'Pontano Sans', serif;
    background-color: #000000;
    background-image: url("../images/shutterstock_2189462235.webp");
    background-size: cover;
    background-repeat: repeat;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 0 5px;
}

main {
    flex: 1 0 auto;
    padding: 2% 0;
}

.black-transparent {
    background-color: #00000095;
}

.card {
    border: 1px solid #ad7c54;
    padding: 20px;
    background-color: #000;
}

.blog-name h1 {
    color: #9b5720;
    font-family: 'Stint Ultra Expanded', serif;
    font-size: 380%;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
        margin-top: 0;
}

.blog-name h6 {
    font-family: 'Stint Ultra Expanded', serif;
    letter-spacing: 5px;
    line-height: 50%;
    color: #fafafa;
    margin-bottom: 30px;
}

.nav-extended ul li a {
    font-family: 'Stint Ultra Expanded', serif;
    font-size: 120%;
    letter-spacing: 1px;
}

.nav-extended ul li a:hover {
    color: #ad7c54;
}

.intro {
    padding-top: 20px;
    border: solid #fff 1px;
    border-radius: 20px;
}

.intro div img {
    width: 100%;
    padding: 30px;
}

.intro span {
    padding: 20px 0;
}

.intro div h4 {
    font-family: 'Sacramento', serif;
    color: #ad7c54;
    line-height: 130%;
    letter-spacing: 1px;
    padding: 0 20px;
}

.form-outer {
    padding: 20px;
    border: solid white 1px;
    border-radius: 20px;
}

.form-title {
    padding-top: 10px;
    font-family: 'Stint Ultra Expanded', serif;
    letter-spacing: 1px;
}

.form-outer h3 { 
    font-size: 240%;
    margin: 15px 50px 40px 50px;
    color: #ad7c54;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

.form-outer h6 {
    font-size: 130%;
    letter-spacing: 2px;
}

.form-outer img {
    margin: 0 20px 20px 20px;
}

.form-outer span {
    font-size: 110%;
    margin: 5px;
}

.form-outer p {
    margin: 0 0 0 10px;
}

.post-body {
    font-size: 120%;
    margin-bottom: 30px;
    white-space: pre-line;
}

.btn-mocha {
    background-color: #8f501d;
}

.btn-mocha:hover {
    background-color: #ad7c54;
}

.btn-green {
    background-color: #2e7d32;
    width: 100px;
    margin: 0 10px 30px 0;
}

.btn-green:hover {
    background-color: #43b949;
}

.btn-red {
    background-color: #c62828;
    margin: 0 0 30px 10px;
}

.btn-red:hover {
    background-color: #ff3636;
}

.btn-edit {
    width: 150px;
}

.extra-margin {
    margin: 20px;
}

.extra-padding {
    padding: 10px 20px;
}

.sacramento {
    font-family: 'Sacramento', serif;
    color:#ad7c54;
    margin-top: 10px;
}

input, textarea {
    color: #fff;
}

.datepicker-calendar {
    color: #000;
}

.datepicker-date-display {
    background-color: #ad7c54;
}

.datepicker-cancel, .datepicker-done {
    color:#8f501d;
}

.select-dropdown {
    color: #ad7c54;
    background-color: #fff;
}

.select-wrapper input.disabled-category {
    color: #fff;
}

.new-post i {
    color:#ad7c54;
}

.dropdown-content li>span {
    color: #8f501d;
    background-color: #fafafa;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ad7c54;
}

.flash-container {
    margin-top: 20px;
    margin-bottom: 0;
}

.flash-msg {
    font-family: 'Sacramento', serif;
    color: #fafafa;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    background-color: #ad7c5495;
}

.internal-link {
    color: #ad7c54;
}

.modal-trigger {
    margin: 5px 0;
}

.even {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-family: 'Stint Ultra Expanded', serif;
    font-size: 110%;
    letter-spacing: 1px;
    padding: 20px;
    margin: 0;
}

footer a {
    color: #ad7c54;
    padding: 2px;
}

footer a:hover,
.internal-link:hover {
    color: #9b5720;
}

footer div {
    padding: 2px;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
    
    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 350%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 350%;
    }

    .blog-name h6 {
        font-size: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 990px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 350%;
        line-height: 110%;
    }

    .blog-name h6 {
        font-size: 90%;
    }

    .form-outer h3 { 
        font-size: 220%;
        margin: 15px 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 320%;
        line-height: 110%;
    }

    .blog-name h6 {
        font-size: 90%;
    }

    .form-outer h3 { 
        font-size: 200%;
        margin: 15px 10px;
    }
}

@media screen and (min-width: 450px) and (max-width: 575px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 250%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 90%;
        line-height: 130%;
    }

    .intro div img {
        padding: 10px;
    }

    .intro div h4 {
        font-size: 200%;
    }

    .sacramento {
        font-size: 180%;
    }

    .form-outer h3 { 
        font-size: 200%;
        margin: 15px 10px;
    }
}

@media screen and (min-width: 330px) and (max-width: 449px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 250%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 90%;
        line-height: 120%;
    }

    .intro div img {
        padding: 10px;
    }

    .intro div h4 {
        font-size: 200%;
    }

    .form-outer h3 { 
            font-size: 160%;
            margin: 15px 10px;
        }

    footer {
        font-size: 90%;
    }
}

@media screen and (max-width: 329px) {

    main {
        padding: 3% 0;
    }
    
    .blog-name h1 {
        font-size: 220%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 90%;
        line-height: 120%;
    }

    .intro div img {
        padding: 10px;
    }

    .intro div h4 {
        font-size: 200%;
    }

    .form-outer h3 { 
        font-size: 160%;
        margin: 15px 10px;
    }

    footer {
        font-size: 90%;
    }
}