* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;  
}

body {
    font-family: 'Pontano Sans', serif;
    background-color: #000000;
    background-image: url("../images/shutterstock_2189462235.webp");
    background-size: cover;
    background-repeat: repeat;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
padding: 50px;
}

header {
    padding-bottom: 15px;
}

nav {
    min-height: 10vw;
}

.black-transparent {
    background-color: #00000080;
}

.blog-name h1 {
    color: #8f501d;
    font-family: 'Stint Ultra Expanded', serif;
    line-height: 90%;
}

.blog-name h6 {
    font-family: 'Stint Ultra Expanded', serif;
    letter-spacing: 5px;
}

.form-outer {
    margin-top: 0;
    padding-top: 0;
}

.form-title {
    padding-top: 30px;
    font-family: 'Stint Ultra Expanded', serif;
}

.mocha {
    background-color: #8f501d;
}

/* Media Queries */

@media screen and (min-width: 1401px) and (max-width: 1550px) {

    .blog-name h1 {
        font-size: 160%;
    }

    .blog-name h6 {
        font-size: 50%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    
    nav {
        min-height: 13vw;
    }
    
    .blog-name h1 {
        font-size: 150%;
    }

    .blog-name h6 {
        font-size: 40%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

    nav {
        min-height: 15vw;
    }
    
    .blog-name h1 {
        font-size: 130%;
    }

    .blog-name h6 {
        font-size: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 990px) {

    nav {
        min-height: 21vw;
    }
    
    .blog-name h1 {
        font-size: 130%;
        line-height: 110%;
    }

    .blog-name h6 {
        font-size: 40%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    nav {
        min-height: 28vw;
    }
    
    .blog-name h1 {
        font-size: 130%;
        line-height: 110%;
    }

    .blog-name h6 {
        font-size: 40%;
    }
}

@media screen and (min-width: 450px) and (max-width: 575px) {

    nav {
        min-height: 40vw;
    }
    
    .blog-name h1 {
        font-size: 110%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 40%;
        line-height: 130%;
    }
}

@media screen and (min-width: 330px) and (max-width: 449px) {

    nav {
        min-height: 50vw;
    }
    
    .blog-name h1 {
        font-size: 90%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 40%;
        line-height: 120%;
    }
}

@media screen and (max-width: 329px) {

    nav {
        min-height: 70vw;
    }
    
    .blog-name h1 {
        font-size: 90%;
        line-height: 100%;
    }

    .blog-name h6 {
        font-size: 40%;
        line-height: 120%;
    }
}