* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;  
}

body {
    font-family: 'Pontano Sans', serif;
    background-color: #000000;
    background-image: url("../images/shutterstock_2189462235.webp");
    background-size: cover;
    background-repeat: repeat;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

nav {
    min-height: 10vw;
}

.black-transparent {
    background-color: #00000080;
}

.blog-name h1 {
    color: #8f501d;
    font-family: 'Stint Ultra Expanded', serif;
    /* line-height: 90%; */
}

.blog-name h6 {
    font-family: 'Stint Ultra Expanded', serif;
    letter-spacing: 5px;
}