{% extends "base.html" %}
{% block content %}

    <section>
        <div class="row intro">
            <div class="col s10 offset-s1 l4 offset-l1">
                <img src="static/images/come_code_with_me_2.png" alt="Coding girl">
            </div>
            <div class="col s10 offset-s1 l6 offset-l5 text-center black intro-text">
                <h4>
                    Hello there, fellow coding enthusiasts and aspiring developers!
                </h4>
                <h4>
                    Welcome to my humble corner of the internet where I share my coding journey, 
                    discoveries, and insights into the captivating world of web application 
                    development. My name is Natalia and I'm a passionate student on a quest 
                    to unravel the mysteries of code and build extraordinary web experiences.
                </h4>
                <h4>
                    From hackathons and coding challenges to embracing new technologies, 
                    I'll share the triumphs and tribulations of my educational odyssey.
                </h4>
                <h4 class="right">
                    Ready to jump in? Let's code!
                </h4>
            </div>
        </div>
    </section>

{% endblock %}