{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s10 offset-s1 m8 offset-m2">
        <div class="row black form-outer">
            <p><i class="fa-solid fa-thumbtack left brown-text"></i>Category: {{ blog_post.category_name }}</p>
            <p><i class="fa-solid fa-calendar-days left brown-text"></i>Date created: {{ blog_post.date_created }}</p>
            <h3 class="center-align form-title">{{ blog_post.headline }}</h3>
            <img src="{{ blog_post.image_url }}" class="col s12 l6">
            <div class="extra-padding post-body">
                {{ blog_post.post_body|safe }}
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 black form-outer">
        <div>
            <h4>Comments:</h4>
            <ul>
                {% for comment in comments %}
                <li>
                    <span class="brown-text text-lighten-2">User {{ comment.username|upper }} wrote:</span>
                    <span>{{ comment.comment_content }}</span>
                    {% if session.user|lower == comment.username|lower or session.user|lower == "admin" %}
                    <span>
                        <button data-target="editModal{{ comment._id }}" class="btn btn-small btn-mocha modal-trigger"
                            type="button"><i class="fa-regular fa-pen-to-square"></i> Edit</button>
                        <div id="editModal{{ comment._id }}" class="modal">
                            <div class="modal-content">
                                <h5 class="black-text"><i class="fa-solid fa-pen-to-square left"></i> Edit Comment</h5>
                                <form method="POST" action="{{ url_for('edit_comment', comment_id=comment._id) }}">
                                    <div class="input-field">
                                        <i class="fa-solid fa-comment-dots prefix"></i>
                                        <input id="edited_comment_content" name="edited_comment_content" type="text"
                                            minlength="5" maxlength="1000" class="black-text" value="{{ comment.comment_content }}"
                                            required>
                                        <label for="edited_comment_content"></label>
                                    </div>
                                    <div class="right-align">
                                    <button type="submit" class="btn waves-effect waves-green btn-small btn-mocha">
                                        <i class="fa-regular fa-floppy-disk left"></i> Save Changes
                                    </button>
                                    <a href="#!" class="modal-close waves-effect waves-green btn-small btn-mocha"><i
                                        class="fa-solid fa-xmark left"></i> Discard Changes</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </span>
                    <span>
                        <button data-target="deleteModal{{ comment._id }}" class="btn btn-small btn-mocha modal-trigger"
                            type="button"><i class="fa-solid fa-trash"></i> Delete</button>
                        <div id="deleteModal{{ comment._id }}" class="modal">
                            <div class="modal-content">
                                <h5 class="black-text"><i class="fa-solid fa-trash left"></i> Delete Comment</h5>
                                <p class="black-text">Are you sure you want to
                                    delete this comment: "{{ comment.comment_content }}"?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_comment', comment_id=comment._id) }}"
                                    class="modal-close waves-effect waves-green btn-small btn-mocha"><i
                                        class="fa-solid fa-check left"></i> Yes</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-small btn-mocha"><i
                                        class="fa-solid fa-xmark left"></i> No</a>
                            </div>
                        </div>
                    </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <form method="POST" action="{{ url_for('add_comment', blog_post_id=blog_post._id) }}">
            <div class="extra-padding">
                {% if session.user %}
                <div class="input-field">
                    <i class="fa-solid fa-comment-dots prefix"></i>
                    <input id="comment_content" name="comment_content" type="text" minlength="5" maxlength="1000"
                        required>
                    <label for="comment_content">Add New Comment</label>
                </div>
                {% endif %}
                <div class="center-align">
                    {% if session.user %}
                    <button type="submit" class="btn btn-medium btn-mocha">
                        <i class="fa-regular fa-floppy-disk white-text left"></i> Save Comment
                    </button>
                    {% else %}
                    <h3 class="sacramento"><a href="{{ url_for('sign_in')}}" class="internal-link"
                            aria-label="It opens Sign In page"><i class="fa-solid fa-arrow-right-to-bracket"></i>
                            Sign into your account to add comments</a></h3>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}