{% extends "base.html" %}
{% block content %}

    <div class="row intro">
        <div class="col s12 m8 l6 offset-l3 intro-text">
            <div class="card-panel black center">
                <h4>As a Registered User you can now add comments to my <a href="{{ url_for('get_blog_posts')}}" class="internal-link" style="text-decoration: underline 1px" aria-label="It opens Blog page">blog posts!</a> 
                    Stay tuned for more features as my website grows.</h4>
                <h4>I'd love to hear your ideas and suggestions for improvements!</h4>
                <h4>Feel free to message me with any feedback using the social media links provided in the footer <i class="fa-solid fa-down-long"></i></h4>
            </div>
        </div>
    </div>

{% endblock %}